<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование комплекса</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <h1>Редактирование данных о комплексе</h1>


    <form  th:object="${komplex}" th:action="'/admin/komplexs/'+*{id}+'/edit'"  method="post">

        <div class="container mt-1 md-12">
            <label class="md-2" for="fullname">Полное название комплекса</label>
            <div class="md-7">
                <input type="text" th:field="*{name}" id="fullname" name="name" class="form-control"
                       placeholder="Введите полное название комплекса" required/>
            </div>
        </div>

        <div class="container mt-1 col-md-12">
            <label class="md-2" for="shortname">Короткое название комплекса</label>
            <div class="md-7">
                <input type="text" th:field="*{shortName}" id="shortname" name="shortName" class="form-control"
                       placeholder="Введите сокращенное название комплекса" required/>
            </div>
        </div>

        <div class="container mt-1 col-md-12">
            <label class="md-2" for="adres">Адрес комплекса</label>
            <div class="md-7">
                <input type="text" th:field="*{adres}" id="adres" name="adres" class="form-control"
                       placeholder="Введите адрес комплекса" required/>
            </div>
        </div>

        <div class="container mt-1 col-md-12">
            <label class="md-2 control-lable" for="shortname">Выберите центр</label>
            <div class="md-7">
                <select class="form-control" th:field="*{centr}" id="dropCentr" name="dropCentr" required>
                    <option value="">Выберите центр</option>
                    <option th:each="centr : ${centrs}" th:value="${centr.id}" th:text="${centr.shortName}"></option>
                </select>
            </div>
        </div>


        <div class="container mt-1 form-actions floatRight">
            <button type="submit" class="btn btn-success">Сохранить</button>
            <button type="button" onclick="window.location.reload();" class="btn btn-secondary">Сбросить поля</button>
        </div>
        <br>

    </form>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>