<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование центра</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<!-- Modal windows for accepting delete -->
<div th:insert="blocks/accept-delete :: accept-delete"></div>
<div class="container mt-5">
    <h1>Редактирование данных о центрах</h1>
</div>

<form method="post">

    <div class="container mt-1 md-12">
        <label class="md-2" for="fullname">Полное название центра</label>
        <div class="md-7">
            <input type="text" id="fullname" name="name" class="form-control"
                   placeholder="Введите полное название центра" required/>
        </div>
    </div>

    <div class="container mt-1 col-md-12">
        <label class="md-2" for="shortname">Короткое название центра</label>
        <div class="md-7">
            <input type="text" id="shortname" name="shortName" class="form-control"
                   placeholder="Введите сокращенное название центра" required/>
        </div>
    </div>

    <div class="container mt-1 form-actions floatRight">
        <button type="submit" class="btn btn-success">Добавить</button>
        <button type="button" onclick="window.location.reload();" class="btn btn-secondary">Очистить поля</button>
    </div>
    <br>

</form>

<div class="container panel panel-default">
    <div class="panel-heading"><span class="lead">Список центров </span></div>
    <div class="panel-body">
        <div class="table-responsive" style="max-height: 40vh; min-height: 40vh; overflow-y: auto;">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Код</th>
                    <th>Сокращённое название</th>
                    <th>Полное название</th>
                    <th style="width: 310px;"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="centr : ${centrs}">
                    <td th:text="${centr.id}"></td>
                    <td th:text="${centr.shortName}"></td>
                    <td th:text="${centr.name}"></td>
                    <td>
                        <a th:href="'/admin/centrs/'+${centr.id}+'/edit'" class="btn btn-primary">Редактировать</a>
                        <button class="btn btn-danger" th:onclick="'javascript:showDeleteModalWindow(\'' + ${centr.id} + '\');'">Удалить</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script th:inline="javascript">
function closeModalWindow() {
	$("#deleteAccept").modal('hide');
};

var id_del;

function showDeleteModalWindow(id){
    id_del = id;
    document.getElementById("delete-object").innerHTML = "Вы точно хотите удалить?";
    $("#deleteAccept").modal('show');
}

function deleteObject(){
    post('/admin/centrs/'+id_del+'/remove');
}

function post(path, method='post') {
  const form = document.createElement('form');
  form.method = method;
  form.action = path;
  const hiddenField = document.createElement('input');
  hiddenField.type = 'hidden';
  form.appendChild(hiddenField);
  document.body.appendChild(form);
  form.submit();
}
</script>
<div th:insert="blocks/footer :: footer"></div>
</body>
