<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <h1 th:text="${title}"/>
</div>
<div class="container mt-5">
    <h6>Администрирование учетных записей пользователей</h6>
    <a href="admin/all-users">Пользователи</a>
</div>
<hr>
<div class="container mt-5">
    <h6>Редактирование данных о подразделениях</h6>
    <a href="admin/centrs/add">Центр</a><br>
    <a href="admin/komplexs/add">Комплексы</a><br>
    <a href="admin/otdels/add">Отделы</a>

</div>
<hr>
<!--<div class="container mt-5">-->
<!--    <h6>Редактирование норм</h6>-->
<!--    <a href="admin/rashs/add">Расходники</a><br>-->
<!--    <a href="admin/norms">Нормы расхода</a>-->
<!--</div>-->
<!--<hr>-->
<!--<div class="container mt-5">-->
<!--    <h6>Редактирование данных о средствах</h6>-->
<!--&lt;!&ndash;    <a href="station/sredstvos">Типы средств в центре</a>&ndash;&gt;-->
<!--</div>-->
<!--<hr>-->
<div class="container mt-5">
    <a href="admin/download_backup">Скачать резервную копию базы</a><br><br>
    <h6>Восстановление БД из файла Backup</h6>
    <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
    <form method="post" th:action="@{/admin/upload_backup}" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" name="file" class="form-control-file">
        </div>
        <button type="submit" class="btn btn-primary">Восстановить</button>
    </form>
</div>
<div class="container mt-5">
<h6>Загрузить список сотрудников из файла CSV</h6>
<p th:text="${uplEmplMessage}" th:if="${uplEmplMessage ne null}" class="alert alert-primary"></p>
<form method="post" th:action="@{/admin/upload_employees}" enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" name="file" class="form-control-file">
    </div>
    <button type="submit" class="btn btn-primary">Загрузить</button>
</form>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>