<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование отдела</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <h1>Редактирование данных об отделе</h1>


    <form  th:object="${otdel}" th:action="'/admin/otdels/'+*{id}+'/edit'"  method="post">

        <div class="container mt-1 md-12">
            <label class="md-2" for="fullname">Название отдела</label>
            <div class="md-7">
                <input type="text" th:field="*{name}" id="fullname" name="name" class="form-control"
                       placeholder="Введите название отдела" required/>
            </div>
        </div>

        <div class="container mt-1 col-md-12">
            <label class="md-2 control-lable" for="dropKomplex">Выберите комплекс</label>
            <div class="md-7">
                <select class="form-control" th:field="*{komplex}" id="dropKomplex" name="dropKomplex" required>
                    <option value="">Выберите комплекс</option>
                    <option th:each="komplex : ${komplexs}" th:value="${komplex.id}" th:text="${komplex.shortName}"></option>
                </select>
            </div>
        </div>


        <div class="container mt-1 form-actions floatRight">
            <button type="submit" class="btn btn-success">Сохранить</button>
            <button type="button" onclick="window.location.reload();" class="btn btn-secondary">Сбросить поля</button>
        </div>
        <br>

    </form>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>