<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Администрирование</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

</head>
<body>
<header th:insert="blocks/header :: header"></header>

<!--Страница для вывода всех пользователей-->
<div class="container mt-5">
    <h1>Пользователи</h1>
    <div th:each="el : ${allUsers}" class="alert alert-info mt-2">
        <h3 th:text="${el.username}"/>
        <a th:href="'/admin/all-users/user-details/' + ${el.id}" class="btn btn-warning">Детальнее</a>
    </div>
    <div class="pagination justify-content-start">
        <a th:href="'/admin'" class="btn btn-secondary my-2">Назад</a>
    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>