<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Склад</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>

</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="d-flex">
    <!-- Modal windows for accepting delete -->
    <div th:insert="blocks/accept-delete :: accept-delete"></div>
    <!-- Modal window for issued items for komplex -->
    <div th:insert="user/mto/item/blocks/issued-modal :: issued-for-komplex"></div>
    <!-- Modal window for write off items for komplex -->
    <div th:insert="user/mto/item/blocks/write-off-modal :: write-off-for-komplex"></div>
    <!-- Side panel -->
    <div th:insert="user/mto/item/sidebar :: sidebar"></div>
    <!-- Side panel -->
    <div class="my-container active-cont container-fluid">
        <div class="container-fluid">
            <h1>Склад</h1>
            <div class="pagination justify-content-start">
                <div class="d-flex justify-content-start flex-wrap">
                    <a th:href="'/'" class="btn btn-secondary mx-auto">Назад</a>
                    <a th:href="'/userPage/coming-add'" class="btn btn-success mx-1">Новый приход</a>
                </div>
            </div>
            <br>
            <div class="bd-example" style="max-height: 50vh; min-height: 30vh; overflow-y: auto;">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="5%">
                            <input type="checkbox" name="all-checkbox"  th:onchange="'javascript:selectAllRecord(this);'" >
                        </th>
                        <th scope="col">№</th>
                        <th scope="col">Счет</th>
                        <th scope="col">Статья</th>
                        <th scope="col">Наименование</th>
                        <th scope="col">Номенклатурный №</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Ед. изм.</th>
                        <th scope="col">Код</th>
                        <th scope="col">Кол-во</th>
                        <th scope="col" style="width: 310px;">
                            <button sec:authorize="hasRole('ROLE_USER')" class="btn btn-outline-primary btn-sm" name="btn_do_some"  th:onclick="'javascript:sendListIdsToIssued();'" title="Выдать подразделению" disabled>
                                <img src="/images/bootstrap-icons/clipboard-check.svg" alt="Bootstrap" width="20"
                                     height="20" style="filter: invert (1);">
                            </button>
                            <button sec:authorize="hasRole('ROLE_USER')" class="btn btn-outline-danger btn-sm" name="btn_do_some"  th:onclick="'javascript:sendListIdsToWriteOff();'" title="Списать" disabled>
                                <img src="/images/bootstrap-icons/clipboard-x.svg" alt="Bootstrap" width="20"
                                     height="20" style="filter: invert (1);">
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="el, iter : ${allItems}">
                        <td>
                            <input type="checkbox" name="record-checkbox"  th:onchange="'javascript:selectRecord(this,\'' +${el.id}+ '\');'">
                        </td>
                        <th scope="row" th:text="${iter.index+1}"></th>
                        <td th:text="${el.bill}"></td>
                        <td th:text="${el.article.name}"></td>
                        <td th:text="${el.name}"></td>
                        <td th:text="${el.nomenclature}"></td>
                        <td th:text="${el.price}"></td>
                        <td th:text="${el.unit}"></td>
                        <td th:text="${el.code}"></td>
                        <td th:text="${el.number}"></td>
                        <td>
                            <button class="btn btn-outline-danger btn-sm" th:onclick="'javascript:showDeleteModalWindow(\'' + ${el.id} + '\');'" title="Удалить">
                                <img src="/images/bootstrap-icons/trash.svg" alt="Bootstrap" width="18"
                                     height="18" style="filter: invert (1);">
                            </button>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>

        </div>
    </div>
</div>
<script th:inline="javascript">
    ///////////////open sidebar///////////////////

      var menu_btn = document.querySelector("#menu-btn");
      var sidebar = document.querySelector("#sidebar");
      var container = document.querySelector(".my-container");
      menu_btn.addEventListener("click", () => {
        sidebar.classList.toggle("active-nav");
        container.classList.toggle("active-cont");
      });

/////////////////////////////////
function closeModalWindow() {
	$("#deleteAccept").modal('hide');
	$("#exampleModalLive").modal('hide');
	$("#exampleModalLive2").modal('hide');
};

var id_del;

function showDeleteModalWindow(id){
    id_del = id;
    document.getElementById("delete-object").innerHTML = "Вы точно хотите удалить?";
    $("#deleteAccept").modal('show');
}

function deleteObject(){
    post('/userPage/item/'+id_del+'/remove');
}

function post(path, method='post') {
  const form = document.createElement('form');
  form.method = method;
  form.action = path;
  const hiddenField = document.createElement('input');
  hiddenField.type = 'hidden';
  form.appendChild(hiddenField);
  document.body.appendChild(form);
  form.submit();
}
//////////////////////////////////////
var selRecs = [];

function selectRecord(value, id) {

	if (value.checked) {
		selRecs.push(id);
	} else {
		selRecs = arrayRemove(selRecs, id);
	}
	var btns =  document.getElementsByName('btn_do_some');
	if(selRecs.length === 0){
	   btns.forEach(el => el.disabled = true);
	} else {
	   btns.forEach(el => el.disabled = false);
	}
};

function arrayRemove(arr, value) {
	return arr.filter(function(ele) {
		return ele !== value;
	});
}
////////////////////////////////////
function selectAllRecord(value){
    if (value.checked) {
		/*<![CDATA[*/
 	    var list = [];
 	    /*[# th:each="elVar : ${allItems}"]*/
 	        list.push(/*[[${elVar.id}]]*/);
 		/*[/]*/
 		/*]]>*/
        selRecs = list;
	} else {
		selRecs = [];
	}
	$('body input:checkbox').prop('checked',value.checked);
	var btns =  document.getElementsByName('btn_do_some');
	btns.forEach(el => el.disabled = !value.checked);
}
///////////////////////////////////////
function sendListIdsToIssued(){
console.log(selRecs);
    $.ajax({
		type: 'post',
		url: '/userPage/add-coming-for-item/'+selRecs+'/issued',
		success: function(data) {
			$('.table-mc').html(data);
			$("#exampleModalLive").modal('show');
		},
	})
}
///////////////////////////////////////
function sendListIdsToWriteOff(){
console.log(selRecs);
    $.ajax({
		type: 'post',
		url: '/userPage/add-write-off-for-item/'+selRecs+'/send',
		success: function(data) {
			$('.table-wo').html(data);
			$("#exampleModalLive2").modal('show');
		},
	})
}
//////////////////////////////////////////////
function loadClickListener(){
     const items = document.querySelectorAll('#tb tbody tr');
     Array.from(items).forEach((item) => {
         const btnMinus = item.querySelector('[data-type="minus"]');
         const btnPlus = item.querySelector('[data-type="plus"]');
         const input = item.querySelector('input');
         btnMinus.addEventListener('click', () => {
         btnPlus.disabled = false;
             if (Number(input.value)===0){
                 btnMinus.disabled = true;
             }else{
                 input.value = Number(input.value) - 1;
             }
         });
         btnPlus.addEventListener('click', () => {
             btnMinus.disabled = false;
             if (input.value === input.max){
                btnPlus.disabled = true;
             }else{
                input.value = Number(input.value) + 1;
             }
         });
     });
}
///////////////////////////////////////////////
////////////////collect data and send////////////
function sendToKomplex() {
	var listOfObjects = {};
	var employeeAccepting = document.querySelector('#employeeAccepting').value;
	var employeeGaveOut = document.querySelector('#employeeGaveOut').value;
	var dateIssued = document.querySelector('#dateIssued' ).value;
	var invoiceNumber = document.querySelector('#invoiceNumber').value;

	if ( employeeAccepting == "" || employeeGaveOut == "" || dateIssued == "" || invoiceNumber == "" ) {
		alert("Не все данные введены");
	} else {
		const items = document.querySelectorAll('#tb tbody tr');
		Array.from(items).forEach((item) => {
				listOfObjects[ item.querySelector('[data-type="id"]').innerHTML ] = [ item.querySelector('input').value ]
			} );
		$.ajax( {
			type: "POST",
			contentType: "application/json",
			accept: 'text/plain',
			url: '/userPage/add-coming-for-item/send/' + document.querySelector('#komplex').value + '/' + employeeAccepting + '/' + employeeGaveOut + '/' + dateIssued + '/' + invoiceNumber,
			data: JSON.stringify(listOfObjects),
			dataType: 'binary',
			xhrFields: {
				'responseType': 'blob'
			},
			success: function(data, status, xhr) {
				var blob = new Blob([data], {
					type: xhr.getResponseHeader('Content-Type')
				} );
				var link = document.createElement('a');
				link.href = window.URL.createObjectURL(blob);
				var today = formatDateToRus(new Date());
				var komplexName = $("#komplex option:selected").text();
				link.download = 'Акт выдачи МЦ для ' + komplexName + ' от ' + today + '.xlsx';
				link.click();
				document.location.reload();
			},
			error: function(e) {
				alert("Error!");
				console.log("ERROR: ", e);
			}
		});
	}

	function formatDateToRus( dateTime ) {
		var dd = String(dateTime.getDate()).padStart(2, '0');
		var mm = String( dateTime.getMonth() + 1).padStart(2, '0'); //January is 0!
		var yyyy = dateTime.getFullYear();

		return dd + '.' + mm + '.' + yyyy;
	}
}
////////////////collect data and send////////////
function writeOff() {
    var listOfObjects2 = {};
    var dateWriteOff = document.querySelector('#dateWriteOff' ).value;
	var nameAct = document.querySelector('#nameAct').value;
	var $input = $('#file');
	var fd = new FormData;
	fd.append('file',$input.prop('files')[0]);
    fd.append('nameAct',nameAct);
	if (dateWriteOff == "" || nameAct == "") {
		alert("Не все данные введены");
	} else {
		const items = document.querySelectorAll('#tb1 tbody tr');
		Array.from(items).forEach((item) => {
				listOfObjects2[ item.querySelector('[data-type="id"]').innerHTML ] =  item.querySelector('input').value;
		});
        fd.append('listOfObjects',JSON.stringify(listOfObjects2));
		$.ajax({
			type: "POST",
			contentType: false,
			url: '/userPage/write-off-for-item/send/' + document.querySelector('#komplex2').value + '/' + dateWriteOff,
			data: fd,
			processData: false,
			success: function(data) {
				document.location.reload();
			}
		});

	}
}
</script>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>