<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Нормы выдачи СИЗ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <script type="text/javascript" src="/js/jquery.min.js" ></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <style>
            #tb tr:hover {background:#E2EEFF;}
            #tb .activeRow, #tb .activeRow:hover {background:#6598C7; color:#fff;}
    </style>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<!-- Modal windows for accepting delete -->
<div th:insert="blocks/accept-delete :: accept-delete"></div>
<div class="d-flex">
    <!-- Side panel -->
    <div th:insert="user/mto/sidebar :: sidebar"></div>
    <!-- Side panel -->
    <div class="my-container active-cont container-fluid">
        <hr class="my-4">
        <blockquote class="blockquote text-center">
            <p class="mb-0">НОРМЫ обеспечения средствами индивидуальной защиты работников филиала</p>
        </blockquote>
        <hr>
        <div class="panel-body">
            <div class="row g-3">
                <div class="col-sm-6 h-100 p-2 bg-light border mb-4 rounded-3 shadow-sm">
                    <form th:action="'/userPage/siz/norms'" method="get">
                        <input id="textSearch" type="text" name="keyword">
                        <button type="submit" class="btn btn-secondary">Найти</button>
                    </form>
                    <span class="lead">Список должностей</span>
                    <div class="table-responsive" style="max-height: 40vh; min-height: 40vh; overflow-y: auto;">
                        <table class="table table-hover" id="tb">
                            <thead>
                            <tr>
                                <th>Наименование</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="post : ${posts}">
                                <!--                            <form action="#" th:object="${sredstvo}">-->
                                <td th:text="${post.postName}"
                                    th:onclick="'javascript:rowClicked(\'' + ${post.id} + '\');'"></td>
                                <!--                            </form>-->
                            </tr>
                            </tbody>
                        </table>
                        <script th:inline="javascript">
var post = /*[[${selected.postName}]]*/;


function rowClicked(value) {
    location.href = "/userPage/siz/norms/getNormsForPost/" + value;
};

function checkParams() {
console.log("srabotalo!");
console.log(post);
            var name = $('#spanSredstvoName').val();
            if(post==""){
                alert("Вы не выбрали должность!");
            }
};

function getParentTag(node, tag) {
    if (node) {
        return (node.tagName == tag) ? node : getParentTag(node.parentElement, tag);
    }
    return null;
};


var tb = document.getElementById('tb');
tb.setAttribute('activeRowIndex', 0);
tb.addEventListener('click', cli);

function cli(e) {
    var row = getParentTag(e.target, 'TR');
    if ((!row) || (row.rowIndex == 0)) {
        return;
    }
    var tbl = this, idx = tbl.getAttribute('activeRowIndex');
    tbl.rows[idx].classList.remove('activeRow');
    row.classList.add('activeRow');
    tbl.setAttribute('activeRowIndex', row.rowIndex);
}

                        </script>
                    </div>
                </div>

                <div class="col-sm-6 h-100 p-2 bg-light border mb-4 rounded-3 shadow-sm">
                    <div class="mt-1 form-actions floatRight">
                        <a onclick="checkParams()" th:href="'/userPage/siz/norms/add'" class="btn btn-success"
                           id="addButton">Добавить</a>
                    </div>
                    <span class="lead" th:text="'Список СИЗ для должности '+${selected.postName}"></span>
                    <div class="table-responsive" style="max-height: 40vh; min-height: 40vh; overflow-y: auto;">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Наименование</th>
                                <th>Количество</th>
                                <th>Ед. изм.</th>
                                <th>Срок службы</th>
                                <th>Регламентирующие документы</th>
                                <th style="width: 310px;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="norm : ${norms}" style="cursor: pointer">
                                <td th:text="${norm.individualProtectionMeans.nameSIZ}"></td>
                                <td th:text="${norm.issuanceRate}"></td>
                                <td th:text="${norm.individualProtectionMeans.ed_izm}"></td>
                                <td th:text="${norm.serviceLife}"></td>
                                <td th:text="${norm.regulatoryDocuments}"></td>
                                <td>
                                    <a th:href="'/userPage/siz/norms/'+${norm.id}+'/edit'" class="btn btn-primary">Редактировать</a>
                                    <button class="btn btn-danger" th:onclick="'javascript:showDeleteModalWindow(\'' + ${norm.id} + '\');'">Удалить</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    ///////////////open sidebar///////////////////

      var menu_btn = document.querySelector("#menu-btn");
      var sidebar = document.querySelector("#sidebar");
      var container = document.querySelector(".my-container");
      menu_btn.addEventListener("click", () => {
        sidebar.classList.toggle("active-nav");
        container.classList.toggle("active-cont");
      });

/////////////////////////////////
function closeModalWindow() {
	$("#deleteAccept").modal('hide');
};

var id_del;

function showDeleteModalWindow(id){
    id_del = id;
    document.getElementById("delete-object").innerHTML = "Вы точно хотите удалить?";
    $("#deleteAccept").modal('show');
}

function deleteObject(){
    post('/userPage/siz/norms/'+id_del+'/remove');
}

function post(path, method='post') {
  const form = document.createElement('form');
  form.method = method;
  form.action = path;
  const hiddenField = document.createElement('input');
  hiddenField.type = 'hidden';
  form.appendChild(hiddenField);
  document.body.appendChild(form);
  form.submit();
}
</script>
<div th:insert="blocks/footer :: footer"></div>

</body>