<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование типов расходных материалов</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <h1>Редактирование данных о типе расходного материала</h1>


    <form  th:object="${rash}" th:action="'/user/station/rashs/'+*{id}+'/edit'"  method="post">

        <div class="container mt-1 md-12">
            <label class="md-2" for="name">Название расходного материала</label>
            <div class="md-7">
                <input type="text" th:field="*{name}" id="name" name="name" class="form-control"
                       placeholder="Введите название расходного материала" required/>
            </div>
        </div>

        <div class="container mt-1 col-md-12">
            <label class="md-2" for="ed_izm">Ед. изм.</label>
            <div class="md-7">
                <input type="text" th:field="*{ed_izm}" id="ed_izm" name="ed_izm" class="form-control"
                       placeholder="Введите ед. изм. расходного материала" required/>
            </div>
        </div>

        <div class="container mt-1 form-actions floatRight">
            <button type="submit" class="btn btn-success">Сохранить</button>
            <button type="button" onclick="window.location.reload();" class="btn btn-secondary">Сбросить поля</button>
        </div>
        <br>

    </form>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>