<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование типов расходных материалов</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container">
    <div class="mt-5">
        <h1>Редактирование данных о типах расходных материалов</h1>
    </div>

    <form method="post">
        <div class="col-md-20">
            <div class="row g-3">
                <div class="col-sm-6">
                    <label class="md-2" for="name">Наименование расходника</label>
                    <div class="md-7">
                        <input type="text" id="name" name="name" class="form-control"
                               placeholder="Введите наименование расходника" required/>
                    </div>
                </div>

                <div class="col-sm-6">
                    <label class="md-2" for="ed_izm">Единицы измерения</label>
                    <div class="md-7">
                        <input type="text" id="ed_izm" name="ed_izm" class="form-control"
                               placeholder="Введите единицы измерения" required/>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-1 form-actions floatRight">
            <button type="submit" class="btn btn-success">Добавить</button>
            <button type="button" onclick="window.location.reload();" class="btn btn-secondary">Очистить поля</button>
        </div>
        <hr class="my-4">

    </form>


    <div class="panel panel-default">
        <div class="panel-heading"><span class="lead">Список расходников</span></div>
        <div class="panel-body">
            <div class="table-responsive" style="max-height: 40vh; min-height: 40vh; overflow-y: auto;">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Наименование</th>
                        <th style="width: 250px;">Ед. изм.</th>
                        <th style="width: 310px;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="rash : ${rashs}">
                        <td th:text="${rash.name}"></td>
                        <td th:text="${rash.ed_izm}"></td>
                        <td>
                            <form th:action="'/user/station/rashs/'+${rash.id}+'/remove'" method="post">
                                <a th:href="'/user/station/rashs/'+${rash.id}+'/edit'" class="btn btn-primary">Редактировать</a>
                                <button class="btn btn-danger" type="submit">Удалить</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>