<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>СИЗ на складе</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/table.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/fixedtable.js"></script>
    <link href="/css/select2.min.css" rel="stylesheet" />
    <script src="/js/select2.min.js"></script>
    <style>
            #tb tr:hover {background:#E2EEFF;}
            #tb .activeRow, #tb .activeRow:hover {background:#6598C7; color:#fff;}
    </style>
    <script>
  $(function(){
  $("#typeSIZ").select2();
 });
</script>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<!-- Modal windows for accepting delete -->
<div th:insert="blocks/accept-delete :: accept-delete"></div>
<!-- Side panel -->
<div class="d-flex">
    <div th:insert="user/mto/sidebar :: sidebar"></div>
    <!-- Side panel -->
    <div class="my-container active-cont container-fluid">

        <div class="container-fluid" sec:authorize="hasAnyRole('ROLE_USER')">
            <div class="h-100 p-2 bg-light border mb-4 rounded-3 shadow-sm">
                <form method="post" onsubmit="this.querySelectorAll('select').forEach(i => i.disabled = false)" class="row g-3">
                    <div class="col-sm-6">
                        <label for="typeSIZ" class="md-2">Типы СИЗ для работников</label>
                        <select class="form-control" id="typeSIZ" name="typeSIZ" th:onchange="'javascript:selectTypeSiz(this);'" required>
                            <option value="">Выберите СИЗ</option>
                            <option th:each="t : ${typeSIZS}" th:value="${t.id}"
                                    th:text="${t.nameSIZ}"></option>
                        </select>
                    </div>

                    <div class="col-sm-3">
                        <div class="list-sizes"
                             th:fragment="list-sizes">
                            <label class="md-2" for="size">Размеры СИЗ</label>
                            <select class="form-control" id="size" name="size" required disabled>
                                <option value="">Выберите размер</option>
                                <option th:each="s : ${sizes}" th:value="${s}"
                                        th:text="${s}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <label class="md-2" for="height">Рост (для одежды)</label>
                        <select class="form-select" aria-label="example" name="height" id="height" disabled>
                            <option selected value="non">Выберите рост</option>
                            <option value="1-2">1-2 (150-160)</option>
                            <option value="3-4">3-4 (160-170)</option>
                            <option value="5-6">5-6 (170-180)</option>
                            <option value="7-8">7-8 (180-190)</option>
                        </select>
                    </div>

                    <div class="col-sm-3">
                        <label class="md-2" for="number">Количество подобного СИЗ</label>
                        <input type="text" id="number" name="number" class="form-control"
                               placeholder="Введите количество"/>
                    </div>

                    <div class="col-sm-3">
                        <label class="md-2" for="nomenclatureNumber">Номенклатурный номер</label>
                        <div class="md-7">
                            <input type="text" id="nomenclatureNumber" name="nomenclatureNumber" class="form-control"
                                   placeholder="Введите Номенклатурный номер" required/>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <label class="md-2" for="incomeNumber">Номер партии</label>
                        <div class="md-7">
                            <input type="text" id="incomeNumber" name="incomeNumber" class="form-control"
                                   placeholder="Введите номер партии" required/>
                        </div>
                    </div>

                    <div class="container mt-1 form-actions floatRight">
                        <button type="submit" class="btn btn-success">Добавить</button>
                        <button type="button" onclick="window.location.reload();" class="btn btn-secondary">Очистить
                            поля
                        </button>
                    </div>

                </form>
            </div>
        </div>
        <div class="container-fluid">
            <div class="h-100 p-2 bg-light border rounded-3 shadow-sm">
                <div>
                    <label for="textSearch" class="form-label">Поиск</label>
                    <input id="textSearch" type="text" name="keyword" oninput="searching(this.value)">
                </div>
                <hr>
                <div class="panel-heading"><span class="lead"><strong>Список CИЗ на складе</strong></span></div>
                <div class="panel-body">
                    <div class="table-sock-siz" style="max-height: 40vh; min-height: 40vh; overflow-y: auto; font-size: 14px;"
                         th:fragment="table-sock-siz">
                        <table class="table table-hover fixtable">
                            <thead>
                            <tr>
                                <th style="5%">
                                    <input type="checkbox" name="all-checkbox"  th:onchange="'javascript:selectAllRecord(this);'" >
                                </th>
                                <th style="5%">№ п/п</th>
                                <th>Номенклатурный №</th>
                                <th>№ партии</th>
                                <th>Наименование</th>
                                <th style="width: 5%">Размер</th>
                                <th style="width: 5%">Рост</th>
                                <th style="width: 5%">Кол-во</th>
                                <th style="width: 50px;">
                                    <button sec:authorize="hasRole('ROLE_USER')" class="btn btn-danger btn-sm" name="del_btn"  th:onclick="'javascript:showDeleteModalWindow();'" title="Удалить со склада" disabled>
                                        <img src="/images/bootstrap-icons/trash.svg" alt="Bootstrap" width="16"
                                             height="16" style="filter: invert (1);">
                                    </button>
                                    <button sec:authorize="isAuthenticated() && !hasRole('ROLE_USER')" class="btn btn-danger btn-sm" name="del_btn" th:onclick="'javascript:showDeleteModalWindow();'" title="Возврат на склад центра" disabled>
                                        <img src="/images/bootstrap-icons/x-circle.svg" alt="Bootstrap" width="16"
                                             height="16" style="filter: invert (1);">
                                    </button>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="n,iter : ${notIssuedSIZ}">
                                <td>
                                        <input type="checkbox" name="record-checkbox" th:data-size="${n.size}" th:data-height="${n.height}" th:data-id="${n.id}" th:data-nomenclatureNumber="${n.nomenclatureNumber}" th:data-incomeNumber="${n.incomeNumber}" onchange="selectRecord(this,this.getAttribute('data-id'),this.getAttribute('data-size'),this.getAttribute('data-height'),this.getAttribute('data-nomenclatureNumber'), this.getAttribute('data-incomeNumber'));">
                                </td>
                                <td th:text="${iter.index+1}"></td>
                                <td th:text="${n.nomenclatureNumber}"></td>
                                <td th:text="${n.incomeNumber}"></td>
                                <td th:text="${n.nameSIZ}"></td>
                                <td th:text="${n.size}"></td>
                                <td th:text="${n.height}"></td>
                                <td th:text="${n.number}"></td>
                                <td>
                                        <a sec:authorize="hasRole('ROLE_USER')" th:href="'/userPage/not-issued-siz/'+${n.id}+'/'+${n.size}+'/'+${#strings.defaultString(n.height,'non')}+'/'+${n.number}+'/'+${n.nomenclatureNumber}+'/'+${n.incomeNumber}+'/edit'"
                                           class="btn btn-primary btn-sm" title="Редактировать">
                                            <img src="/images/bootstrap-icons/pen.svg" alt="Bootstrap" width="16"
                                                 height="16" style="filter: invert (100%);">
                                        </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">

/////////////////////disabled - enabled Height selecting/////////////////////////
function selectTypeSiz(elem){
    var id = parseInt(elem.value);
    /*<![CDATA[*/
        var list1 =[];
        var list2 =[];
 	/*[# th:each="elVar : ${typeSIZS}"]*/
 	    list1.push(/*[[${elVar.id}]]*/);
 	    list2.push(/*[[${elVar.typeIPM}]]*/);
    /*[/]*/
    /*]]>*/
    var type = "";
    for (var i = 0; i < list1.length; i++) {
        if (id === list1[i]){
            type = list2[i];
            break;
        }
    }
    if ("Одежда" === type) {
 	    document.getElementsByName('height').forEach(el => el.disabled = false);

 	} else{
 	    document.getElementsByName('height').forEach(el => el.disabled = true);
 	}

 	$.ajax({
    		type: 'get',
    		url: '/userPage/not-issued-siz/get-sizes/' + id,
    		success: function(data) {
    			$('.list-sizes').html(data);
    			document.getElementsByName('size').forEach(el => el.disabled = false);
    		},
    	});
}

function U2A(str) {
    var reserved = '';
    var code = str.match(/&#(d+);/g);

    if (code === null) {
        return str;
    }

    for (var i = 0; i < code.length; i++) {
        reserved += String.fromCharCode(code[i].replace(/[&#;]/g, ''));
    }

    return reserved;
}
///////////////open sidebar///////////////////

      var menu_btn = document.querySelector("#menu-btn");
      var sidebar = document.querySelector("#sidebar");
      var container = document.querySelector(".my-container");
      menu_btn.addEventListener("click", () => {
        sidebar.classList.toggle("active-nav");
        container.classList.toggle("active-cont");
      });

/////////////////////////////////
    function searching(value) {
    	if (value.length === 0) {
    		value = 0;
    	}
    	$.ajax({
    		type: 'get',
    		url: '/userPage/not-issued-siz/search/stock-siz/' + value,
    		success: function(data) {
    			$('.table-sock-siz').html(data);
    		},
    	});
    };
//////////////////////////////////////
var selRecs = [];

function selectRecord(value, id,size,height,nomenclatureNumber, incomeNumber) {
    var str = id+'_'+size+'_'+height+'_'+nomenclatureNumber+'_'+incomeNumber;

	if (value.checked) {
		selRecs.push(str);
	} else {
		selRecs = arrayRemove(selRecs, str);
	}
	var btns =  document.getElementsByName('del_btn');
	if(selRecs.length === 0){
	   btns.forEach(el => el.disabled = true);
	} else {
	   btns.forEach(el => el.disabled = false);
	}
};

function arrayRemove(arr, value) {
	return arr.filter(function(ele) {
		return ele !== value;
	});
}
////////////////////////////////////
function selectAllRecord(value){
    if (value.checked) {
		/*<![CDATA[*/
 	    var list = [];
 	    /*[# th:each="elVar : ${notIssuedSIZ}"]*/
 	        list.push(/*[[${elVar.id}+'_'+${elVar.size}+'_'+${elVar.height}+'_'+${elVar.nomenclatureNumber}+'_'+${elVar.incomeNumber}]]*/);
 		/*[/]*/
 		/*]]>*/
        selRecs = list;
	} else {
		selRecs = [];
	}
	$('body input:checkbox').prop('checked',value.checked);
	var btns =  document.getElementsByName('del_btn');
	btns.forEach(el => el.disabled = !value.checked);
}
///////////////////////////////////////
function deleteRecord(){
console.log('deleting');
console.log(selRecs);
$.ajax({
		type: 'post',
		url: '/userPage/not-issued-siz/'+selRecs+'/remove',
		success: function(data) {
			$('.table-sock-siz').html(data);
		},
	})
}
////////////////////////////////////////////////
function closeModalWindow() {
	$("#deleteAccept").modal('hide');
};

function showDeleteModalWindow(){
    document.getElementById("delete-object").innerHTML = "Вы точно хотите удалить?";
    $("#deleteAccept").modal('show');
}

function deleteObject(){
    deleteRecord();
    closeModalWindow();
}

</script>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>