<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>СИЗ на складе</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/table.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/fixedtable.js"></script>
    <style>
            #tb tr:hover {background:#E2EEFF;}
            #tb .activeRow, #tb .activeRow:hover {background:#6598C7; color:#fff;}
    </style>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<!-- Side panel -->
<div class="d-flex">
    <div th:insert="user/mto/sidebar :: sidebar"></div>
    <!-- Side panel -->
    <div class="my-container active-cont container-fluid">

        <div class="container-fluid">
            <div class="h-100 p-2 bg-light border mb-4 rounded-3 shadow-sm">
                <form method="post" class="row g-3">
                    <div class="col-sm-6">
                        <label for="typeSIZ" class="md-2">Типы СИЗ для работников</label>
                        <select class="form-control" id="typeSIZ" name="typeSIZ" required>
                            <option value="">Выберите СИЗ</option>
                            <option th:each="t : ${typeSIZS}" th:value="${t.id}"
                                    th:text="${t.nameSIZ}"></option>
                        </select>
                    </div>

                    <div class="col-sm-3">
                        <label class="md-2" for="size">Размеры СИЗ</label>
                        <input type="text" id="size" name="size" class="form-control"
                               placeholder="Введите размеры" required/>
                    </div>

                    <div class="col-sm-3">
                        <label class="md-2" for="height">Рост (для одежды)</label>
                        <input type="text" id="height" name="height" class="form-control"
                               placeholder="Введите рост"/>
                    </div>

                    <div class="col-sm-3">
                        <label class="md-2" for="number">Количество подобного СИЗ</label>
                        <input type="text" id="number" name="number" class="form-control"
                               placeholder="Введите количество"/>
                    </div>

                    <div class="container mt-1 form-actions floatRight">
                        <button type="submit" class="btn btn-success">Добавить</button>
                        <button type="button" onclick="window.location.reload();" class="btn btn-secondary">Очистить
                            поля
                        </button>
                    </div>


                </form>
            </div>
        </div>
        <div class="container-fluid">
            <div class="h-100 p-2 bg-light border rounded-3 shadow-sm">
                <div>
                    <label for="textSearch" class="form-label">Поиск</label>
                    <input id="textSearch" type="text" name="keyword" oninput="searching(this.value)">
                </div>
                <hr>
                <div class="panel-heading"><span class="lead"><strong>Список CИЗ на складе</strong></span></div>
                <div class="panel-body">
                    <div class="table-sock-siz" style="max-height: 40vh; min-height: 40vh; overflow-y: auto;"
                         th:fragment="table-sock-siz">
                        <table class="table table-hover fixtable">
                            <thead>
                            <tr>
                                <th style="5%">
                                    <input type="checkbox" name="all-checkbox"  th:onchange="'javascript:selectAllRecord(this);'" >
                                </th>
                                <th style="5%">№ п/п</th>
                                <th>Наименование</th>
                                <th style="10%">Размер</th>
                                <th style="10%">Рост</th>
                                <th style="width: 250px;">
                                        <button class="btn btn-danger btn-sm" id="del_btn" th:onclick="'javascript:deleteRecord();'" disabled>Удалить</button>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="n,iter : ${notIssuedSIZ}">
                                <td>
                                        <input type="checkbox" name="record-checkbox" th:onchange="'javascript:selectRecord(this,\'' + ${n.id} + '\');'">
                                </td>
                                <td th:text="${iter.index+1}"></td>
                                <td th:text="${n.siz.nameSIZ}"></td>
                                <td th:text="${n.size}"></td>
                                <td th:text="${n.height}"></td>
                                <td>
                                        <a th:href="'/userPage/not-issued-siz/'+${n.id}+'/edit'"
                                           class="btn btn-primary btn-sm">Редактировать</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">

///////////////open sidebar///////////////////

      var menu_btn = document.querySelector("#menu-btn");
      var sidebar = document.querySelector("#sidebar");
      var container = document.querySelector(".my-container");
      menu_btn.addEventListener("click", () => {
        sidebar.classList.toggle("active-nav");
        container.classList.toggle("active-cont");
      });

/////////////////////////////////
    function searching(value) {
    	if (value.length === 0) {
    		value = 0;
    	}
    	$.ajax({
    		type: 'get',
    		url: '/userPage/not-issued-siz/search/stock-siz/' + value,
    		success: function(data) {
    			$('.table-sock-siz').html(data);
    		},
    	});
    };
//////////////////////////////////////
var selRecs = [];

function selectRecord(value, id) {
	if (value.checked) {
		selRecs.push(Number(id));
	} else {
		selRecs = arrayRemove(selRecs, Number(id));
	}
	if(selRecs.length === 0){
	    document.getElementById('del_btn').disabled = true;
	} else {
	    document.getElementById('del_btn').disabled = false;
	}
};

function arrayRemove(arr, value) {
	return arr.filter(function(ele) {
		return ele !== value;
	});
}
////////////////////////////////////
function selectAllRecord(value){
    if (value.checked) {
		/*<![CDATA[*/
 	    var list = [];
 	    /*[# th:each="elVar : ${notIssuedSIZ}"]*/
 	        list.push(/*[[${elVar.id}]]*/);
 		/*[/]*/
 		/*]]>*/
        selRecs = list;
	} else {
		selRecs = [];
	}
	$('body input:checkbox').prop('checked',value.checked);
    document.getElementById('del_btn').disabled = !value.checked;
}
///////////////////////////////////////
function deleteRecord(){

//var xhttp = new XMLHttpRequest();
//xhttp.open('GET', '/userPage/not-issued-siz/'+selRecs+'/remove', true);
//xhttp.send();

$.ajax({
		type: 'post',
		url: '/userPage/not-issued-siz/'+selRecs+'/remove',
		success: function(data) {
			$('.table-sock-siz').html(data);
		},
	})
}
</script>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>