<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование информации о СИЗ на складе</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<!-- Side panel -->
<div class="d-flex">
    <div th:insert="user/mto/sidebar :: sidebar"></div>
    <!-- Side panel -->
    <div class="my-container active-cont container-fluid">

        <h1>Редактирование информации о СИЗ на складе</h1>

        <div class="h-100 p-2 bg-light border rounded-3 shadow-sm">
            <form th:object="${siz}" th:action="'/userPage/not-issued-siz/'+*{id}+'/edit'" method="post">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="typeSIZ" class="md-2">Типы СИЗ для работников</label>
                        <select class="form-control" id="typeSIZ" name="typeSIZ" th:field="*{siz}" required>
                            <option value="">Выберите СИЗ</option>
                            <option th:each="t : ${typeSIZS}" th:value="${t.id}"
                                    th:text="${t.nameSIZ}"></option>
                        </select>
                    </div>

                    <div class="col-sm-2">
                        <label class="md-2" for="size">Размеры СИЗ</label>
                        <div class="md-7">
                            <input type="text" id="size" name="size" th:field="*{size}" class="form-control"
                                   placeholder="Введите размеры" required/>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <label class="md-2" for="height">Рост (для одежды)</label>
                        <div class="md-7">
                            <input type="text" id="height" name="height" th:field="*{height}" class="form-control"
                                   placeholder="Введите рост"/>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <label class="md-2" for="number">Количество подобного СИЗ</label>
                        <input type="text" id="number" name="number" th:value="${number}" class="form-control"
                               placeholder="Введите количество"/>
                    </div>

                    <div class="col-sm-2">
                        <label class="md-2" for="nomenclatureNumber">Номенклатурный номер</label>
                        <div class="md-7">
                            <input type="text" id="nomenclatureNumber" name="nomenclatureNumber" th:value="${nomenclatureNumber}" class="form-control"
                                   placeholder="Введите Номенклатурный номер" required/>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <label class="md-2" for="incomeNumber">Номер партии</label>
                        <div class="md-7">
                            <input type="text" id="incomeNumber" name="incomeNumber" th:value="${incomeNumber}" class="form-control"
                                   placeholder="Введите номер партии" required/>
                        </div>
                    </div>

                    <div class="container mt-1 form-actions floatRight">
                        <button type="submit" class="btn btn-success">Сохранить</button>
                        <button type="button" onclick="window.location.reload();" class="btn btn-secondary">Сбросить
                            поля
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<script th:inline="javascript">
    ///////////////open sidebar///////////////////

      var menu_btn = document.querySelector("#menu-btn");
      var sidebar = document.querySelector("#sidebar");
      var container = document.querySelector(".my-container");
      menu_btn.addEventListener("click", () => {
        sidebar.classList.toggle("active-nav");
        container.classList.toggle("active-cont");
      });

/////////////////////////////////
</script>
<br>
<br>
<br>
<br>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>