<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование типа СИЗ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="d-flex">
    <!-- Side panel -->
    <div th:insert="user/mto/sidebar :: sidebar"></div>
    <!-- Side panel -->
    <div class="my-container active-cont container-fluid">
        <div class="container mt-5">
            <h1>Редактирование данных о типе СИЗ</h1>


            <form th:object="${siz}" th:action="'/userPage/siz-types/'+*{id}+'/edit'" method="post">

                <div class="container mt-1 md-12">
                    <label class="md-2" for="nameSIZ">Наименование СИЗ</label>
                    <div class="md-7">
                        <input type="text" th:field="*{nameSIZ}" id="nameSIZ" name="nameSIZ" class="form-control"
                               placeholder="Введите полное наименование" required/>
                    </div>
                </div>

<!--                <div class="container mt-1 md-12">-->
<!--                    <label class="md-2" for="nomenclatureNumber">Номенклатурный номер</label>-->
<!--                    <div class="md-7">-->
<!--                        <input type="text" th:field="*{nomenclatureNumber}" id="nomenclatureNumber" name="nomenclatureNumber" class="form-control"-->
<!--                               placeholder="Введите номенклатурный номер" required/>-->
<!--                    </div>-->
<!--                </div>-->

                <div class="container mt-1 col-md-12">
                    <label class="md-2" for="ed_izm">Единицы измерения СИЗ</label>
                    <div class="md-7">
                        <input type="text" th:field="*{ed_izm}" id="ed_izm" name="ed_izm" class="form-control"
                               placeholder="Введите ед. изм." required/>
                    </div>
                </div>

                <div class="container mt-1 col-md-12">
                    <label class="md-2" for="typeIPM">Тип СИЗ</label>
                    <select class="form-select" aria-label="example" th:value="*{typeIPM}" name="typeIPM" id="typeIPM" required>
                        <option value="Одежда">Одежда</option>
                        <option value="Головной убор">Головной убор</option>
                        <option value="Обувь">Обувь</option>
                        <option value="Противогаз">Противогаз</option>
                        <option value="Респиратор">Респиратор</option>
                        <option value="Перчатки">Перчатки</option>
                        <option value="Рукавицы">Рукавицы</option>
                    </select>
                </div>

                <div class="container mt-1 form-actions floatRight">
                    <a th:href="'/userPage/siz-types'" class="btn btn-primary mx-auto">Назад</a>
                    <button type="submit" class="btn btn-success">Сохранить</button>
                    <button type="button" onclick="window.location.reload();" class="btn btn-secondary">Очистить поля
                    </button>
                </div>
                <br>

            </form>
        </div>
    </div>
</div>
<script th:inline="javascript">
    ///////////////open sidebar///////////////////

      var menu_btn = document.querySelector("#menu-btn");
      var sidebar = document.querySelector("#sidebar");
      var container = document.querySelector(".my-container");
      menu_btn.addEventListener("click", () => {
        sidebar.classList.toggle("active-nav");
        container.classList.toggle("active-cont");
      });

/////////////////////////////////
</script>
<div th:insert="blocks/footer :: footer"></div>
</body>