<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Типы СИЗ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
<header th:insert="blocks/header :: header"></header>


<div class="d-flex">
    <!-- Side panel -->
    <div th:insert="user/mto/sidebar :: sidebar"></div>
    <!-- Side panel -->
    <div class="my-container active-cont container-fluid">
        <div class="container mt-5">
            <h1>Редактиривание данных о типах СИЗ</h1>
        </div>

        <form method="post">

                <div class="container mt-1 md-12">
                    <label class="md-2" for="nameSIZ">Полное название СИЗ</label>
                    <div class="md-7">
                        <input type="text" id="nameSIZ" name="nameSIZ" class="form-control"
                               placeholder="Введите полное название" required/>
                    </div>
                </div>

            <div class="container mt-1 md-12">
                <label class="md-2" for="nomenclatureNumber">Номенклатурный номер</label>
                <div class="md-7">
                    <input type="text" id="nomenclatureNumber" name="nomenclatureNumber" class="form-control"
                           placeholder="Введите Номенклатурный номер" required/>
                </div>
            </div>

                <div class="container mt-1 col-md-12">
                    <label class="md-2" for="ed_izm">Единицы измерения</label>
                    <div class="md-7">
                        <input type="text" id="ed_izm" name="ed_izm" class="form-control"
                               placeholder="Введите ед. изм. СИЗ" required/>
                    </div>
                </div>

            <div class="container mt-1 col-md-12">
                <label class="md-2" for="typeIPM">Тип СИЗ</label>
                <select class="form-control" aria-label="example" name="typeIPM" id="typeIPM" required>
                    <option selected="">Выберите тип</option>
                    <option value="Одежда">Одежда</option>
                    <option value="Головной убор">Головной убор</option>
                    <option value="Обувь">Обувь</option>
                    <option value="Противогаз">Противогаз</option>
                    <option value="Респиратор">Респиратор</option>
                    <option value="Перчатки">Перчатки</option>
                    <option value="Рукавицы">Рукавицы</option>
                </select>
            </div>

                <div class="container mt-1 form-actions floatRight">
                    <button type="submit" class="btn btn-success">Добавить</button>
                    <button type="button" onclick="window.location.reload();" class="btn btn-secondary">Очистить поля
                    </button>
                </div>
                <br>

        </form>

        <div class="container panel panel-default">
            <div class="h-100 p-2 bg-light border mb-4 rounded-3 shadow-sm">
                <div class="panel-heading"><span class="lead">Список типов СИЗ</span></div>
                <div class="panel-body">
                    <div class="table-responsive" style="max-height: 40vh; min-height: 40vh; overflow-y: auto;">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Номенклатурный №</th>
                                <th>Наименование</th>
                                <th>Ед. изм.</th>
                                <th style="width: 310px;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="ipm : ${ipms}">
                                <td th:text="${ipm.nomenclatureNumber}"></td>
                                <td th:text="${ipm.nameSIZ}"></td>
                                <td th:text="${ipm.ed_izm}"></td>
                                <td>
                                    <form th:action="'/userPage/siz-types/'+${ipm.id}+'/remove'" method="post">
                                        <a th:href="'/userPage/siz-types/'+${ipm.id}+'/edit'" class="btn btn-primary">Редактировать</a>
                                        <button class="btn btn-danger" type="submit">Удалить</button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    ///////////////open sidebar///////////////////

      var menu_btn = document.querySelector("#menu-btn");
      var sidebar = document.querySelector("#sidebar");
      var container = document.querySelector(".my-container");
      menu_btn.addEventListener("click", () => {
        sidebar.classList.toggle("active-nav");
        container.classList.toggle("active-cont");
      });

/////////////////////////////////
</script>
<div th:insert="blocks/footer :: footer"></div>
</body>