<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование статей расхода</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="d-flex">
    <!-- Side panel -->
    <div th:insert="user/mto/item/sidebar :: sidebar"></div>
    <!-- Side panel -->
    <!-- Modal windows for accepting delete -->
    <div th:insert="blocks/accept-delete :: accept-delete"></div>
    <div class="container">
        <div class="mt-5">
            <h1>Редактирование статей расхода</h1>
        </div>

        <form method="post">
            <div class="col-md-20">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label class="md-2" for="name">Наименование статьи</label>
                        <div class="md-7">
                            <input type="text" id="name" name="name" class="form-control"
                                   placeholder="Введите наименование статьи" required/>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label class="md-2" for="type">Тип статьи</label>
                        <div class="md-7">
                            <input type="text" id="type" name="type" class="form-control"
                                   placeholder="Введите тип статьи" required/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-1 form-actions floatRight">
                <button type="submit" class="btn btn-success">Добавить</button>
                <button type="button" onclick="window.location.reload();" class="btn btn-secondary">Очистить поля
                </button>
            </div>
            <hr class="my-4">

        </form>


        <div class="panel panel-default">
            <div class="panel-heading"><span class="lead">Список статей</span></div>
            <div class="panel-body">
                <div class="table-responsive" style="max-height: 40vh; min-height: 40vh; overflow-y: auto;">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="width: 200px;">Наименование</th>
                            <th>Тип</th>
                            <th style="width: 310px;"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="article : ${articles}">
                            <td th:text="${article.name}"></td>
                            <td th:text="${article.type}"></td>
                            <td>
                                <a th:href="'/userPage/article/'+${article.id}+'/edit'" class="btn btn-primary">Редактировать</a>
                                <button class="btn btn-danger"
                                        th:onclick="'javascript:showDeleteModalWindow(\'' + ${article.id} + '\');'">
                                    Удалить
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
///////////////open sidebar///////////////////

      var menu_btn = document.querySelector("#menu-btn");
      var sidebar = document.querySelector("#sidebar");
      var container = document.querySelector(".my-container");
      menu_btn.addEventListener("click", () => {
        sidebar.classList.toggle("active-nav");
        container.classList.toggle("active-cont");
      });

/////////////////////////////////

function closeModalWindow() {
	$("#deleteAccept").modal('hide');
};

var id_del;

function showDeleteModalWindow(id){
    id_del = id;
    document.getElementById("delete-object").innerHTML = "Вы точно хотите удалить?";
    $("#deleteAccept").modal('show');
}

function deleteObject(){
    post('/userPage/article/'+id_del+'/remove');
}

function post(path, method='post') {
  const form = document.createElement('form');
  form.method = method;
  form.action = path;
  const hiddenField = document.createElement('input');
  hiddenField.type = 'hidden';
  form.appendChild(hiddenField);
  document.body.appendChild(form);
  form.submit();
}
</script>
<div th:insert="blocks/footer :: footer"></div>
</body>