<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="bg-image d-flex justify-content-center align-items-center"
     style="background-image: url('/images/background.jpeg');
      height: 100vh">
    <div class="d-grid gap-2">
        <a th:href="'/user/mto'" class="btn btn-primary btn-lg" type="button">МТО</a>
        <a th:href="'/user/ge'" class="btn btn-primary btn-lg" type="button">ГЭ</a>
    </div>
<!--    <section class="logo-right">-->
<!--        <img src="/images/roscosmos.png" alt="Роскосмос">-->
<!--    </section>-->
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>