<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Успешный вход</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">

</head>

<body class="text-center">
<header th:insert="blocks/header :: header"></header>
<h1 class="h1 mb-3 fw-normal"><a sec:authentication="name"/></h1>
<h3 class="h3 mb-3 fw-normal">Добро пожаловать! Через несколько секунд Вас перенаправят на главную страницу</h3>
<div th:insert="blocks/footer :: footer"></div>
</body>
<script>
setTimeout("location.href = '/';",3000);
</script>
</html>