<div th:fragment="footer">
    <footer class="text-muted py-5">
        <div class="container">
            <div class="row g-3">
                <div class="col-sm-6">

                        <a href="/">Вернуться на главную</a>

                    <p class="mb-1">Разработчик Нестеров Ю.В.</p>
                    <p class="mb-1">© 2022 ЦИП ИК</p>
                </div>
                <div class="col-sm-6">
                    <img src="/images/cenki.png" alt="ЦЭНКИ">
                </div>
            </div>
        </div>
    </footer>
</div>