<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Выдача СИЗ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <style>
            #tb tr:hover {background:#E2EEFF;}
            #tb .activeRow, #tb .activeRow:hover {background:#6598C7; color:#fff;}
    </style>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<!-- Modal window for extend SIZ -->
<div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLiveLabel">Продление ресурса</h5>
                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close"
                        onclick="closeModalWindow()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <label class="md-2" for="extendDate">Выберите дату продления ресурса</label>
                <input type="date" id="extendDate" name="extendDate" class="form-control"
                       placeholder="Выберите дату" onchange="setDateExtending(this.value)"
                       th:min="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModalWindow()">
                    Закрыть
                </button>
                <button type="button" class="btn btn-primary" onclick="extendSIZ()">Сохранить</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal window -->

<!-- Modal window for writeoff SIZ -->
<div id="exampleModalLive2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel2"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLiveLabel2">Списание</h5>
                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close"
                        onclick="closeModalWindow()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <label class="md-2" for="act">Акт списания</label>
                <input type="text" id="act" name="act" class="form-control"
                       placeholder="Введите наименование акта списания" onchange="setActWriteoff(this.value)"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModalWindow()">
                    Закрыть
                </button>
                <button type="button" class="btn btn-primary" onclick="writeoffSIZ()">Сохранить</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal window -->
    <!-- Side panel -->
<div class="d-flex">
<div th:insert="user/mto/sidebar :: sidebar"></div>
    <!-- Side panel -->
    <div class="my-container active-cont container-fluid">
        <div class="panel-body">
            <div class="row align-items-md-stretch mb-4">
                <div class="col-sm-6">
                    <div class="h-100 p-2 bg-light border mb-4 rounded-3 shadow-sm">
<!--                        <button class="btn border-0" id="menu-btn">-->
<!--                            <img src="/images/bootstrap-icons/list.svg" alt="Bootstrap" width="16"-->
<!--                                 height="16">-->
<!--                        </button>-->
                        <select class="form-control" id="otdel" name="otdel"
                                th:onchange="'javascript:loadEmployeesForSelectedOtdel();'" required>
                            <option selected disabled value="">Выберите отдел</option>
                            <option th:each="otdel : ${otdels}" th:value="${otdel.id}"
                                    th:text="${otdel.name}"></option>
                        </select>
                        <hr>
                        <div>
                            <label for="textSearch" class="form-label">Поиск по сотрудникам</label>
                            <input id="textSearch" type="text" name="keyword" oninput="searchingByEmployee(this.value)">
                        </div>
                        <hr>
                        <span class="lead">Список сотрудников</span>
                        <div class="table-employees" style="max-height: 40vh; min-height: 40vh; overflow-y: auto;"
                             th:fragment="table-employees">
                            <table class="table table-hover" id="tb">
                                <thead>
                                <tr>
                                    <th style="5%">
                                        <input type="checkbox" name="all-checkbox"  th:onchange="'javascript:selectAllRecord(this);'" disabled>
                                    </th>
                                    <th style="width: 40%">ФИО</th>
                                    <th>Должность</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="e : ${employees}">
                                    <td>
                                        <input type="checkbox" name="record-checkbox" th:onchange="'javascript:selectRecord(this,\'' + ${e.id} + '\');'" disabled>
                                    </td>
                                    <td th:text="${e.surname}+' '+${#strings.substring(e.name,0,1)}+' '+${#strings.substring(e.patronymic,0,1)}"
                                        th:onclick="'javascript:rowClicked(\'' + ${e.id} + '\',\'' + ${e.post.id} + '\');'"></td>
                                    <td th:text="${e.post.postName}"
                                        th:onclick="'javascript:rowClicked(\'' + ${e.id} + '\',\'' + ${e.post.id} + '\');'"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-sm-6">
                    <div class="h-100 p-2 bg-light border mb-4 rounded-3 shadow-sm">
                        <select class="form-control" id="post" name="post"
                                th:onchange="'javascript:loadEmployeesForSelectedPost();'">
                            <option selected disabled value="">Выберите должность</option>
                            <option th:each="post : ${posts}" th:value="${post.id}"
                                    th:text="${post.postName}"></option>
                        </select>
                        <hr>
                        <div class="table-siz" style="max-height: 40vh; min-height: 40vh; overflow-y: auto;"
                             th:fragment="table-siz">
                            <div class="col-sm-6">
                                <span class="lead" th:text="'Список СИЗ для должности '+${selected.postName}"></span>
                            </div>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th style="width: 40%">Наименование</th>
                                    <th>Кол-во по норме</th>
                                    <th>Остаток на складе</th>
                                    <th style="width: 100px;"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="s : ${siz}" style="cursor: pointer">
                                    <td th:text="${s.individualProtectionMeans.nameSIZ}"></td>
                                    <td th:text="${s.issuanceRate}"></td>
                                    <td th:text="${ipmStandardRepository.notIssuanceRate(s.id)}"></td>
                                    <td>
                                        <button class="btn btn-danger btn-sm" name="iss-btn"
                                           th:onclick="'javascript:updateIssuedSiz(\'' + ${s.id} + '\');'" disabled>Выдать</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="h-100 p-2 bg-light border rounded-3 shadow-sm">
                    <div class="table-issuedSiz" th:fragment="table-issuedSiz">
                        <div class="row align-items-md-stretch mb-4">
                            <div class="col-sm-6">
                            <span class="lead"
                                  th:text="'Список выданного СИЗ сотруднику '+${selectedEmployee.surname}+' '+${selectedEmployee.name}+' '+${selectedEmployee.patronymic}"></span>
                            </div>
                            <div class="col-sm-6 d-grid gap-2 d-md-flex justify-content-md-end">
                                <button type="button" class="btn btn-outline-secondary btn-sm float-right"
                                        aria-label="Распечатать">
                                    <img src="/images/bootstrap-icons/printer.svg" alt="Bootstrap" width="24"
                                         height="24">
                                </button>
                            </div>
                        </div>
                        <p class="fs-6 text-danger" th:text="${issuedError}"></p>
                        <div class="table-responsive" style="max-height: 40vh; min-height: 40vh; overflow-y: auto;">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th style="width: 40%">Наименование</th>
                                    <th>Дата выдачи</th>
                                    <th>Дата окончания носки</th>
                                    <th style="width: 450px;"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="s : ${vidanSIZ}" style="cursor: pointer">
                                    <td th:text="${s.siz.nameSIZ}"></td>
                                    <td th:text="${#dates.format(s.dateIssued, 'dd.MM.yyyy')}"></td>
                                    <td th:text="${#dates.format(s.dateEndWear, 'dd.MM.yyyy')}"></td>
                                    <td>
                                        <button class="btn btn-danger btn-sm" type="button"
                                                th:onclick="'javascript:showModalWindow2(\'' + ${s.id} + '\');'">Списать
                                        </button>
                                        <button type="button" class="btn btn-primary btn-sm"
                                                th:onclick="'javascript:showModalWindow(\'' + ${s.id} + '\');'">Продлить
                                        </button>
                                        <button class="btn btn-warning btn-sm" type="button"
                                                th:onclick="'javascript:cancelIssed(\'' + ${s.id} + '\');'">Отменить
                                            выдачу
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">

var extendingSIZId;
var writeoffSIZId;
//// modal functions///////
function showModalWindow(value) {
	extendingSIZId = value;
	$("#exampleModalLive").modal('show');
}
function showModalWindow2(value) {
	writeoffSIZId = value;
	$("#exampleModalLive2").modal('show');
}
function closeModalWindow() {
	$("#exampleModalLive").modal('hide');
	$("#exampleModalLive2").modal('hide');
};
///////////////////////////////////
var post = /*[[${selected.postName}]]*/ ;
var employee_id;
var selRecs = [];

function loadEmployeesForSelectedOtdel() {
if (document.getElementById("post").value !==''){
    loadEmployeesForSelectedOtdelAndPost();
} else {
	var e = document.getElementById("otdel");
	var otdelId = e.value;
	$.ajax({
		type: 'get',
		url: '/userPage/issued-siz/getEmployeeForOtdel/' + otdelId,
		success: function(data) {
			$('.table-employees').html(data);
		},
	})
	}
	selRecs = [];
};
///////////////////////////////////////////////
function loadEmployeesForSelectedPost() {
if (document.getElementById("otdel").value !==''){
    loadEmployeesForSelectedOtdelAndPost();
} else {
	var e = document.getElementById("post");
	var postId = e.value;
	$.ajax({
		type: 'get',
		url: '/userPage/issued-siz/getEmployeeForPost/' + postId,
		success: function(data) {
			$('.table-employees').html(data);
			$('body input:checkbox').prop('disabled',false);
		},
	})
	updateSizForPost();
}
selRecs = [];
};
///////////////////////////////////////////////
function loadEmployeesForSelectedOtdelAndPost() {
	var a = document.getElementById("otdel");
	var b = document.getElementById("post");
	var otdelId = a.value;
	var postId = b.value;
	$.ajax({
		type: 'get',
		url: '/userPage/issued-siz/getEmployeeForOtdelAndPost/' + otdelId+'/'+postId,
		success: function(data) {
			$('.table-employees').html(data);
			$('body input:checkbox').prop('disabled',false);
		},
	})
	updateSizForPost();
	selRecs = [];
};
///////////////////////////////////////////////
function rowClicked(empl_id) {
	employee_id = empl_id;
	updateSizForEmployee(empl_id);
	loadIssuedSiz(empl_id);
};

function updateSizForPost(){
$.ajax({
		type: 'get',
		url: '/userPage/issued-siz/getSizForPost/' + document.getElementById("post").value,
		success: function(data) {
			$('.table-siz').html(data);
		},
	})
};

function updateSizForEmployee(value) {
	$.ajax({
		type: 'get',
		url: '/userPage/issued-siz/getSizForEmployee/' + value,
		success: function(data) {
			$('.table-siz').html(data);
		},
	})
};

function loadIssuedSiz(value) {
	$.ajax({
		type: 'get',
		url: '/userPage/issued-siz/getIssuedSizForEmployee/' + value,
		success: function(data) {
			$('.table-issuedSiz').html(data);
		},
	})
};
//////////////////////////////////////////
function updateIssuedSiz(value) {
	$.ajax({
		type: 'get',
		url: '/userPage/issued-siz/' + selRecs + '/add/'+value,
		success: function(data) {
			$('.table-issuedSiz').html(data);
		},
	})
	updateSizForEmployee(employee_id);
	$('body input:checkbox').prop('checked',false);
	selRecs = [];
};
//////////////////////////////////////////
var dateExtending;

function setDateExtending(value) {
	dateExtending = value;
};

function extendSIZ() {
	closeModalWindow();
	$.ajax({
		type: 'get',
		url: '/userPage/issued-siz/' + extendingSIZId + '/extend/' + dateExtending,
		success: function(data) {
			$('.table-issuedSiz').html(data);
		},
	})
};
//////////////////////////////////
var actName;

function setActWriteoff(value){
    actName = value;
}


//////////////////////////////////
function cancelIssed(value) {
	$.ajax({
		type: 'get',
		url: '/userPage/issued-siz/' + value + '/cancel',
		success: function(data) {
			$('.table-issuedSiz').html(data);
		},
	});
	updateSizForEmployee(employee_id);
};
//////////////////////////////////
function writeoffSIZ() {
	closeModalWindow();
	$.ajax({
		type: 'get',
		url: '/userPage/issued-siz/' + writeoffSIZId + '/writeoff/'+actName,
		success: function(data) {
			$('.table-issuedSiz').html(data);
		},
	});
};
//////////////////////////////////

function searchingByEmployee(value) {
	if (value.length === 0) {
		value = 0;
	}
	$.ajax({
		type: 'get',
		url: '/userPage/issued-siz/search/employee/' + value,
		success: function(data) {
			$('.table-employees').html(data);
		},
	});
};

///////////////open sidebar///////////////////

      var menu_btn = document.querySelector("#menu-btn");
      var sidebar = document.querySelector("#sidebar");
      var container = document.querySelector(".my-container");
      menu_btn.addEventListener("click", () => {
        sidebar.classList.toggle("active-nav");
        container.classList.toggle("active-cont");
      });
//////////////////////////////////////////////


function selectRecord(value, id) {
	if (value.checked) {
		selRecs.push(Number(id));
	} else {
		selRecs = arrayRemove(selRecs, Number(id));
	}
	var btns =  document.getElementsByName('iss-btn');
	if(selRecs.length === 0){
	  btns.forEach(el => el.disabled = true);
	} else {
	  btns.forEach(el => el.disabled = false);
	}
};

function arrayRemove(arr, value) {
	return arr.filter(function(ele) {
		return ele !== value;
	});
}
////////////////////////////////////
function selectAllRecord(value){
    if (value.checked) {
		/*<![CDATA[*/
 	    var list = [];
 	    /*[# th:each="elVar : ${employees}"]*/
 	        list.push(/*[[${elVar.id}]]*/);
 		/*[/]*/
 		/*]]>*/
        selRecs = list;
	} else {
		selRecs = [];
	}
	$('body input:checkbox').prop('checked',value.checked);
	var btns =  document.getElementsByName('iss-btn');
	btns.forEach(el => el.disabled = !value.checked);
}
//////////////////////////////////////////////////


function checkParams() {
	console.log("srabotalo!");
	console.log(post);
	var name = $('#spanSredstvoName').val();
	if (post == "") {
		alert("Вы не выбрали должность!");
	}
};

function getParentTag(node, tag) {
	if (node) {
		return (node.tagName == tag) ? node : getParentTag(node.parentElement, tag);
	}
	return null;
};
var tb = document.getElementById('tb');
tb.setAttribute('activeRowIndex', 0);
tb.addEventListener('click', cli);

function cli(e) {
	var row = getParentTag(e.target, 'TR');
	if ((!row) || (row.rowIndex == 0)) {
		return;
	}
	var tbl = this,
		idx = tbl.getAttribute('activeRowIndex');
	tbl.rows[idx].classList.remove('activeRow');
	row.classList.add('activeRow');
	tbl.setAttribute('activeRowIndex', row.rowIndex);
};

</script>

<div th:insert="blocks/footer :: footer"></div>
</body>