<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Укомплектованность сотрудников СИЗ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <style>
            #tb tr:hover {background:#E2EEFF;}
            #tb .activeRow, #tb .activeRow:hover {background:#6598C7; color:#fff;}
    </style>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<!-- Modal window for norm SIZ -->
<div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLiveLabel">Комплектность СИЗ</h5>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close"
                        onclick="closeModalWindow()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-siz" style="max-height: 40vh; min-height: 40vh; overflow-y: auto;"
                     th:fragment="table-siz">
                    <h6 th:text="${employee.surname}+' '+${#strings.substring(employee.name,0,1)}+' '+${#strings.substring(employee.patronymic,0,1)}"></h6>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th >Наименование</th>
                            <th style="width: 10%">По норме</th>
                            <th style="width: 10%">Выдано</th>
<!--                            <th style="width: 100px;"></th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="s : ${siz}" style="cursor: pointer">
                            <td th:text="${s.individualProtectionMeans.nameSIZ}"></td>
                            <td th:text="${s.issuanceRate}"></td>
                            <td th:text="${issuedSIZRepository.getCountByEmployeeIdAndIPMStandart(s.id,employee.id)}"></td>
<!--                            <td>-->
<!--                                <button class="btn btn-danger btn-sm" name="iss-btn"-->
<!--                                        th:onclick="'javascript:updateIssuedSiz(\'' + ${s.id} + '\');'" disabled>Выдать-->
<!--                                </button>-->
<!--                            </td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" onclick="closeModalWindow()">
                    Закрыть
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Modal window -->
<!-- Modal window for issued SIZ -->
<div id="exampleModalLive2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLiveLabel2">Выданный СИЗ сотруднику</h5>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close"
                        onclick="closeModalWindow()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-issued-siz" style="max-height: 40vh; min-height: 40vh; overflow-y: auto;"
                     th:fragment="table-issued-siz">
                    <h6 th:text="${employee.surname}+' '+${#strings.substring(employee.name,0,1)}+' '+${#strings.substring(employee.patronymic,0,1)}"></h6>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Наименование</th>
                            <th style="width: 15%">Выдано</th>
                            <th>Окончание носки</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="s : ${vidanSIZ}" style="cursor: pointer">
                            <td th:text="${s.siz.nameSIZ}"></td>
                            <td th:text="${#dates.format(s.dateIssued, 'dd.MM.yyyy')}"></td>
                            <td th:text="${#dates.format(s.dateEndWear, 'dd.MM.yyyy')}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" onclick="closeModalWindow()">
                Закрыть
            </button>
        </div>
    </div>
</div>
</div>
<!-- Modal window -->
<!-- Side panel -->
<div class="d-flex">
    <div th:insert="user/mto/sidebar :: sidebar"></div>
    <!-- Side panel -->
    <div class="my-container active-cont container-fluid">
        <div class="panel-body">
            <div class="row g-3">
                <div class="col-sm-3">
                    <label for="issued-filter" class="form-label">Фильтр по выдачи</label>
                    <select class="form-select" aria-label="example" name="issued-filter" id="issued-filter" th:onchange="'javascript:filter(this.value);'">
                        <option selected disabled value="">Выберите фильтрацию</option>
                        <option value="all">Все</option>
                        <option value="issued">Выдан весь СИЗ</option>
                        <option value="not-issued">Не выдан весь СИЗ</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <label for="textSearch" class="form-label">Поиск по таблице</label>
                    <input id="textSearch" class="form-control" type="text" name="keyword"
                           oninput="searching(this.value)">
                </div>
                <div class="col-sm-3">
                    <label for="issued-sort" class="form-label">Сортировка</label>
                    <select class="form-select" aria-label="example" name="issued-sort" id="issued-sort" th:onchange="'javascript:sorting(this.value);'">
                        <option selected disabled value="">Выберите тип сортировки</option>
                        <option value="date">Дата окончания носки</option>
                        <option value="k_and_p">Подразделение и должность</option>
                    </select>
                </div>
            </div>
            <hr>
            <span class="lead">Укомплектованность сотрудников СИЗ</span>
            <form th:action="'/userPage/employee-siz/print-table'" method="get">
                <button type="submit" class="btn btn-outline-secondary btn-sm float-right"
                        aria-label="Распечатать">
                    <img src="/images/bootstrap-icons/printer.svg" alt="Bootstrap" width="24" height="24">
                </button>
            </form>
            <div class="table-employees" style="max-height: 40vh; min-height: 40vh; overflow-y: auto;"
                 th:fragment="table-employees">
                <table class="table table-hover" id="tb">
                    <thead>
                    <tr>
                        <th style="display:none;"></th>
<!--                        <th style="width: 2%;">-->
<!--                            <input type="checkbox" name="all-checkbox" th:onchange="'javascript:selectAllRecord(this);'"-->
<!--                                   disabled>-->
<!--                        </th>-->
                        <th style="width: 19%;">Должность</th>
                        <th style="width: 10%;">Подразделение</th>
                        <th style="width: 19%;">Фамилия</th>
                        <th style="width: 15%;">Имя</th>
                        <th style="width: 16%;">Отчество</th>
                        <th style="width: 15%;">Укомплектованность, %</th>
                        <th style="width: 2%;"></th>
                        <th style="width: 2%;"></th>
                        <th style="width: 2%;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="e : ${employees}">
                        <td style="display:none;" name="id-empl" th:text="${e.id}"></td>
<!--                        <td>-->
<!--                            <input type="checkbox" name="record-checkbox"-->
<!--                                   th:onchange="'javascript:selectRecord(this,\'' + ${e.id} + '\');'" disabled>-->
<!--                        </td>-->
                        <td th:text="${e.post.postName}"></td>
                        <td th:text="${e.komplex.shortName}"></td>
                        <td th:text="${e.surname}"></td>
                        <td th:text="${e.name}"></td>
                        <td th:text="${e.patronymic}"></td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                     th:style="'width: '+${employeeRepository.getPercentStaffingOfEmployee(e.id,e.post.id)}+'%'"
                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                     th:text="${employeeRepository.getPercentStaffingOfEmployee(e.id,e.post.id)} ?: '0'">
                                </div>
                            </div>
                        </td>
                        <td>
                            <button class="btn border-0 btn-sm"  th:onclick="'javascript:showModalWindow(\'' + ${e.id} + '\',\'' + ${e.post.id} + '\');'" title="Информация об укомплектованности">
                                <img src="/images/bootstrap-icons/card-checklist.svg" alt="Bootstrap" width="20"
                                     height="20">
                            </button>
                        </td>
                        <td>
                            <button class="btn border-0 btn-sm"  th:onclick="'javascript:showModalWindow2(\'' + ${e.id} + '\');'" title="Информация о выданном СИЗ">
                                <img src="/images/bootstrap-icons/journal-text.svg" alt="Bootstrap" width="20"
                                     height="20">
                            </button>
                        </td>
                        <td> <form th:action="'/userPage/employee-siz/edit-staffing/employee/'+${e.id}" method="get">
                            <button type="submit" class="btn border-0 btn-sm"   title="Редактирование комплектации СИЗ сотрудника">
                            <img src="/images/bootstrap-icons/box-arrow-up-right.svg" alt="Bootstrap" width="20"
                                 height="20">
                        </button>
                        </form>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/pagecontrol/issued-siz-all.js"></script>
<div th:insert="blocks/footer :: footer"></div>
</body>