<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Выдача СИЗ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <style>
            #tb tr:hover {background:#E2EEFF;}
            #tb .activeRow, #tb .activeRow:hover {background:#6598C7; color:#fff;}
    </style>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<!-- Modal window -->
<div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLiveLabel">Продление ресурса</h5>
                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close"
                        onclick="closeModalWindow()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <label class="md-2" for="extendDate">Выберите дату продления ресурса</label>
                <input type="date" id="extendDate" name="extendDate" class="form-control"
                       placeholder="Выберите дату" onchange="setDateExtending(this.value)" th:min="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModalWindow()">
                    Закрыть
                </button>
                <button type="button" class="btn btn-primary" onclick="extendSIZ()">Сохранить</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal window -->
<div class="container-fluid">
    <div class="panel-body">
        <div class="row align-items-md-stretch mb-4">
            <div class="col-sm-6">
                <div class="h-100 p-2 bg-light border mb-4 rounded-3 shadow-sm">
                    <label for="otdel" class="form-label">Отдел</label>
                    <select class="form-control" id="otdel" name="otdel"
                            th:onchange="'javascript:loadEmployeesForSelectedOtdel();'" required>
                        <option value="">Выберите отдел</option>
                        <option th:each="otdel : ${otdels}" th:value="${otdel.id}"
                                th:text="${otdel.name}"></option>
                    </select>
                    <hr>
                    <div>
                        <label for="textSearch" class="form-label">Поиск по сотрудникам</label>
                        <input id="textSearch" type="text" name="keyword" oninput="searchingByEmployee(this.value)">
                    </div>
                    <hr>
                    <span class="lead">Список сотрудников</span>
                    <div class="table-employees" style="max-height: 40vh; min-height: 40vh; overflow-y: auto;"
                         th:fragment="table-employees">
                        <table class="table table-hover" id="tb">
                            <thead>
                            <tr>
                                <th>ФИО</th>
                                <th>Должность</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="e : ${employees}">
                                <td th:text="${e.surname}+' '+${#strings.substring(e.name,0,1)}+' '+${#strings.substring(e.patronymic,0,1)}"
                                    th:onclick="'javascript:rowClicked(\'' + ${e.id} + '\');'"></td>
                                <td th:text="${e.post.postName}"
                                    th:onclick="'javascript:rowClicked(\'' + ${e.id} + '\');'"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-sm-6">
                <div class="h-100 p-2 bg-light border mb-4 rounded-3 shadow-sm">
                    <div class="table-siz" style="max-height: 40vh; min-height: 40vh; overflow-y: auto;"
                         th:fragment="table-siz">
                        <span class="lead" th:text="'Список СИЗ для должности '+${selected.postName}"></span>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Наименование</th>
                                <th>Кол-во по норме</th>
                                <th>Остаток на складе</th>
                                <th style="width: 150px;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="s : ${siz}" style="cursor: pointer">
                                <td th:text="${s.individualProtectionMeans.nameSIZ}"></td>
                                <td th:text="${s.issuanceRate}"></td>
                                <td th:text="${ipmStandardRepository.notIssuanceRate(s.id)}"></td>
                                <td>
                                    <a class="btn btn-danger"
                                       th:onclick="'javascript:updateIssuedSiz(\'' + ${s.id} + '\');'">Выдать</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="h-100 p-2 bg-light border rounded-3 shadow-sm">
                <div class="table-issuedSiz" th:fragment="table-issuedSiz">
                    <span class="lead"
                          th:text="'Список выданного СИЗ сотруднику '+${selectedEmployee.surname}+' '+${selectedEmployee.name}+' '+${selectedEmployee.patronymic}"></span>
                    <p class="fs-6 text-danger" th:text="${issuedError}"></p>
                    <div class="table-responsive" style="max-height: 40vh; min-height: 40vh; overflow-y: auto;">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Наименование</th>
                                <th>Дата выдачи</th>
                                <th>Дата окончания носки</th>
                                <th style="width: 500px;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="s : ${vidanSIZ}" style="cursor: pointer">
                                <td th:text="${s.siz.nameSIZ}"></td>
                                <td th:text="${#dates.format(s.dateIssued, 'dd.MM.yyyy')}"></td>
                                <td th:text="${#dates.format(s.dateEndWear, 'dd.MM.yyyy')}"></td>
                                <td>
                                    <button class="btn btn-danger" type="button" th:onclick="'javascript:writeoffSIZ(\'' + ${s.id} + '\');'">Списать</button>
                                    <button type="button" class="btn btn-primary" th:onclick="'javascript:showModalWindow(\'' + ${s.id} + '\');'">Продлить</button>
                                    <button class="btn btn-warning" type="button" th:onclick="'javascript:cancelIssed(\'' + ${s.id} + '\');'">Отменить выдачу</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script th:inline="javascript">

var extendingSIZId;
//// modal functions///////
function showModalWindow(value) {
	extendingSIZId = value;
	$("#exampleModalLive").modal('show');
}

function closeModalWindow() {
	$("#exampleModalLive").modal('hide');
};
///////////////////////////////////
var post = /*[[${selected.postName}]]*/ ;
var employee_id;

function loadEmployeesForSelectedOtdel() {
	var e = document.getElementById("otdel");
	var otdelId = e.value;
	$.ajax({
		type: 'get',
		url: '/userPage/issued-siz/getEmployeeForOtdel/' + otdelId,
		success: function(data) {
			$('.table-employees').html(data);
		},
	})
};
///////////////////////////////////////////////
function rowClicked(value) {
	employee_id = value;
	updateSizForEmployee(value);
	loadIssuedSiz(value);
};

function updateSizForEmployee(value) {
	$.ajax({
		type: 'get',
		url: '/userPage/issued-siz/getSizForEmployee/' + value,
		success: function(data) {
			$('.table-siz').html(data);
		},
	})
};

function loadIssuedSiz(value) {
	$.ajax({
		type: 'get',
		url: '/userPage/issued-siz/getIssuedSizForEmployee/' + value,
		success: function(data) {
			$('.table-issuedSiz').html(data);
		},
	})
};
//////////////////////////////////////////
function updateIssuedSiz(value) {
	$.ajax({
		type: 'get',
		url: '/userPage/issued-siz/' + value + '/add',
		success: function(data) {
			$('.table-issuedSiz').html(data);
		},
	})
	updateSizForEmployee(employee_id);
};
//////////////////////////////////////////
var dateExtending;

function setDateExtending(value) {
	dateExtending = value;
	console.log(dateExtending);
};

function extendSIZ() {
	closeModalWindow();
	$.ajax({
		type: 'get',
		url: '/userPage/issued-siz/' + extendingSIZId + '/extend/' + dateExtending,
		success: function(data) {
			$('.table-issuedSiz').html(data);
		},
	})
};
//////////////////////////////////
function cancelIssed(value) {
	$.ajax({
		type: 'get',
		url: '/userPage/issued-siz/' + value + '/cancel',
		success: function(data) {
			$('.table-issuedSiz').html(data);
		},
	});
	updateSizForEmployee(employee_id);
};
//////////////////////////////////
function writeoffSIZ(value) {
	$.ajax({
		type: 'get',
		url: '/userPage/issued-siz/' + value + '/writeoff',
		success: function(data) {
			$('.table-issuedSiz').html(data);
		},
	});
};
//////////////////////////////////

function searchingByEmployee(value) {
	if (value.length === 0) {
		value = 0;
	}
	$.ajax({
		type: 'get',
		url: '/userPage/issued-siz/search/employee/' + value,
		success: function(data) {
			$('.table-employees').html(data);
		},
	});
};

//////////////////////////////////

function checkParams() {
	console.log("srabotalo!");
	console.log(post);
	var name = $('#spanSredstvoName').val();
	if (post == "") {
		alert("Вы не выбрали должность!");
	}
};

function getParentTag(node, tag) {
	if (node) {
		return (node.tagName == tag) ? node : getParentTag(node.parentElement, tag);
	}
	return null;
};
var tb = document.getElementById('tb');
tb.setAttribute('activeRowIndex', 0);
tb.addEventListener('click', cli);

function cli(e) {
	var row = getParentTag(e.target, 'TR');
	if ((!row) || (row.rowIndex == 0)) {
		return;
	}
	var tbl = this,
		idx = tbl.getAttribute('activeRowIndex');
	tbl.rows[idx].classList.remove('activeRow');
	row.classList.add('activeRow');
	tbl.setAttribute('activeRowIndex', row.rowIndex);
};
                    </script>

<div th:insert="blocks/footer :: footer"></div>
</body>