<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Закупочная таблица</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <style>
            #tb tr:hover {background:#E2EEFF;}
            #tb .activeRow, #tb .activeRow:hover {background:#6598C7; color:#fff;}
    </style>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<!-- Side panel -->
<div class="d-flex">
    <div th:insert="user/mto/sidebar :: sidebar"></div>
    <!-- Side panel -->
    <div class="my-container active-cont container-fluid">
        <div class="panel-body">

            <div class="row g-3">
                <div class="col-sm-3">
                    <select class="form-control custom-select d-block w-100" id="komplex" name="komplex"
                            th:onchange="'javascript:filterByKomplex(this.value);'">
                        <option selected disabled value="">Выберите подразделение</option>
                        <option th:each="k : ${komplexes}" th:value="${k.id}"
                                th:text="${k.shortName}"></option>
                    </select>
                </div>
                <div class="col-sm-3">
                        <button class="btn btn-primary" name="send_btn" id="send_btn"
                                th:onclick="'javascript:sendToKomplex();'" disabled>Передать на склад подразделения
                        </button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-11">
                    <span class="lead">Таблица СИЗ для подразделения</span>
                </div>
            </div>

            <div class="table-siz" style="max-height: 50vh; min-height: 30vh; overflow-y: auto;"
                 th:fragment="table-siz">
                <table class="table table-hover" id="tb">
                    <thead>
                    <tr>
                        <th style="display:none;">ID</th>
                        <th>Номенклатурный №</th>
                        <th>Наименование СИЗ</th>
                        <th>Рост</th>
                        <th>Размер</th>
                        <th style="width: 10%">Кол-во</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="s : ${siz}">
                        <td data-type="id" th:text="${s.id}" style="display:none;"></td>
                        <td data-type="nomen-nom" th:text="${s.nomenclatureNumber}"></td>
                        <td data-type="namesiz" th:text="${s.namesiz}"></td>
                        <td data-type="height" th:text="${s.height}"></td>
                        <td data-type="size" th:text="${s.size}"></td>
                        <td>
                            <div class="input-group" th:with="quantityInStock=${issuedSIZRepository.findBySizeAndHeightAndSizIdAndStatusAndKomplexIdAndEmployeeId(s.size,s.height,s.id,'На складе',null,null).size()}">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-number" name="btn-number" data-type="minus" data-field="quant[1]">-</button>
                                </span>
                                <input type="text" name="quant[1]" data-type="quantity" class="form-control input-number"
                                       th:value="${s.numAll<=quantityInStock} ? ${s.numAll} : ${quantityInStock}"
                                       min="0" th:max="${quantityInStock}"
                                        th:title="'На складе: '+${quantityInStock}">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">+</button>
                                </span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/pagecontrol/issued-siz-komplex.js"></script>
<div th:insert="blocks/footer :: footer"></div>
</body>