<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Сотрудники</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>

<body>
<header th:insert="blocks/header :: header"></header>
<div class="container-sm">
    <form action="/userPage/coming-add-new" method="post" class="row g-3">
        <div class="col-sm-4">
            <label for="article" class="form-label">Статья</label>
            <select class="form-control" id="article" name="article" required>
                <option selected disabled value="">Статья</option>
                <option th:each="a : ${articles}" th:value="${a.id}"
                        th:text="${a.name}"></option>
            </select>
        </div>
        <div class="col-sm-4">
            <label for="name" class="form-label">Наименование</label>
            <input type="text" class="form-control" name="name" id="name" required>
        </div>
        <div class="col-sm-4">
            <label for="number" class="form-label">Количество</label>
            <input type="text" class="form-control" name="number" id="number" required>
        </div>
        <div class="col-sm-4">
            <label for="price" class="form-label">Стоимость</label>
            <input type="text" class="form-control" name="price" id="price" required>
        </div>
        <div class="col-sm-4">
            <label for="unit" class="form-label">Единицы измерения</label>
            <input type="text" class="form-control" name="unit" id="unit" required>
        </div>
        <div class="col-sm-4">
            <label for="code" class="form-label">Код</label>
            <input type="text" class="form-control" name="code" id="code" required>
        </div>
        <div class="col-sm-4">
            <label for="date" class="form-label">Дата приёма</label>
            <input type="date" class="form-control" name="date" id="date" th:attr="max=${now}" required>
        </div>
        <div class="col-sm-4">
            <label for="bill" class="form-label">Счёт</label>
            <input type="text" class="form-control" name="bill" id="bill" required>
        </div>
        <div class="col-sm-4">
            <label for="nomenclature" class="form-label">Номенклатурный №</label>
            <input type="text" class="form-control" name="nomenclature" id="nomenclature" required>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Добавить</button>
            <a href="/userPage/item-all" class="btn btn-secondary my-2">Назад</a>
        </div>
    </form>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>